
.cognitoHocWrapper {
  margin: 10px 10px 10px 10px;
}

.cognitoHocLogin {
  margin: 10px 10px 10px 10px;
}

.cognitoHocSignInButton {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: green;
  color: white;
}

.cognitoHocSignOutButton {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: red;
  color: white;
}

